.pokemon-card {
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  position: relative; /* Ini penting agar tombol bisa diposisikan */
  cursor: pointer;
  padding-bottom: 60px; /* Beri ruang di bawah untuk tombol */
}
/* Tambahkan styling untuk h1 di sini */
.pokemon-card h1 {
  text-transform: capitalize;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.pokemon-card > .types-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0 0;
}

.type-badge {
  width: 100px;
  padding: 4px;
  border-radius: 6px;
  border: 2px solid black;
  color: white;
  text-transform: capitalize;
}

.pokemon-card .description {
  text-align: left;
  padding-top: 20px;
  font-size: 1.3rem;
}

.evolution-controls {
  position: absolute;
  bottom: 10px; /* Posisikan di bawah */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 20px;
}

.evolution-controls button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
