.pokemon-card {
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* Tambahkan styling untuk h1 di sini */
.pokemon-card h1 {
  text-transform: capitalize;
  margin: 10px 0; /* Beri sedikit jarak */

  /* --- INI BAGIAN PERBAIKANNYA --- */
  white-space: nowrap; /* Mencegah nama turun ke baris baru */
  overflow: hidden; /* Sembunyikan teks yang melampaui batas */
  text-overflow: ellipsis; /* Tambahkan "..." di akhir teks yang terpotong */
  width: 100%; /* Pastikan h1 tidak lebih lebar dari kartu */
}

.pokemon-card > .types-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0 0;
}

.type-badge {
  width: 100px;
  padding: 4px;
  border-radius: 6px;
  border: 2px solid black;
  color: white;
  text-transform: capitalize; /* Agar tipe juga huruf kapital di awal */
}

.pokemon-card .description {
  text-align: left;
  padding: 20px;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.3s ease-in-out;
  translate: 0 100%;
}

.pokemon-card:hover .description {
  translate: 0 0;
}
