body {
  cursor: url("../public/pointer/cursor.png"), auto;
}

/* Cursor pointer untuk elemen yang bisa diklik */
button,
a,
input,
select,
div [onclick] {
  cursor: url("../public/pointer/pointer.png"), pointer !important;
}
.pokemon-card {
  cursor: url("../public/pointer/pointer.png"), pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}
